.main__about
  margin-top: 84px
  margin-bottom: 85px

  &_content
    margin-top: 40px
    display: flex
    flex-direction: row
    align-items: center

    &_text
      width: 44%

      & p
        margin-bottom: 30px

  &_button
    display: block
    margin-top: 30px
    width: 191px
    padding: 20px 0
    text-align: center

.main__about_head__line
  background: #000