.footer
  margin-top: 65px
  margin-bottom: 60px
  @include flexRow
  align-items: flex-start
  justify-content: space-between

  & ul li
    line-height: 36px
    font-size: 14px

  & ul li:first-of-type
    font-weight: bold
    font-size: 16px

  &__contacts
    text-align: right

    &_email
      color: $mainColor
      text-decoration: underline

      &:hover
        text-decoration: none

.another-page ul li
  font-weight: bold
  font-size: 16px

.not-bold
  font-weight: normal

.copyright
  @include  flexRow
  font-size: 14px
  line-height: 54px

  justify-content: space-between

  &__background
    background: #F1F1F1

  & a
    text-decoration: underline

.cookie a
  text-align: right